<section
  class="answer2">
  <app-amchart
    [title]="statistics.answer2.man1517.title"
    [subTitle]="statistics.answer2.man1517.subTitle"
    [tagId]="statistics.answer2.man1517.tagId"
    [dataChart]="statistics.answer2.man1517.data"></app-amchart>

  <app-amchart 
    [title]="statistics.answer2.man1821.title"
    [subTitle]="statistics.answer2.man1821.subTitle"
    [tagId]="statistics.answer2.man1821.tagId"
    [dataChart]="statistics.answer2.man1821.data"></app-amchart>

  <app-amchart 
    [title]="statistics.answer2.man2230.title"
    [subTitle]="statistics.answer2.man2230.subTitle"
    [tagId]="statistics.answer2.man2230.tagId"
    [dataChart]="statistics.answer2.man2230.data"></app-amchart>

  <app-amchart
    [title]="statistics.answer2.woman1517.title"
    [subTitle]="statistics.answer2.woman1517.subTitle"
    [tagId]="statistics.answer2.woman1517.tagId"
    [dataChart]="statistics.answer2.woman1517.data"></app-amchart>

  <app-amchart 
    [title]="statistics.answer2.woman1821.title"
    [subTitle]="statistics.answer2.woman1821.subTitle"
    [tagId]="statistics.answer2.woman1821.tagId"
    [dataChart]="statistics.answer2.woman1821.data"></app-amchart>

  <app-amchart 
    [title]="statistics.answer2.woman2230.title"
    [subTitle]="statistics.answer2.woman2230.subTitle"
    [tagId]="statistics.answer2.woman2230.tagId"
    [dataChart]="statistics.answer2.woman2230.data"></app-amchart>
</section>
