<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
</mat-form-field>
<mat-table [dataSource]="registeredUsers">
  <ng-container matColumnDef="userId">
    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.userId }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.name }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.email }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="user">
    <mat-header-cell *matHeaderCellDef>Usuario</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-slide-toggle
        [checked]="element.roles.user">
      </mat-slide-toggle>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="admin">
      <mat-header-cell *matHeaderCellDef>Administrador</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-slide-toggle
          [checked]="element.roles.admin">
        </mat-slide-toggle>
      </mat-cell>
    </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>