<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="header-logo">
    <a routerLink="/">Encuestas Rock&amp;Vida</a>
  </div>
  <div class="header-nav" 
      fxFlex 
      fxLayout 
      fxLayoutAlign="flex-end" 
      fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!isAuth">
        <a routerLink="/signup">Registrarse</a>
      </li>
      <li *ngIf="!isAuth">
        <a routerLink="/login">Ingresar</a>
      </li>
      <li *ngIf="isAuth">
        <a routerLink="/survey">Encuesta</a>
      </li>
      <li *ngIf="isAuth">
        <a routerLink="/statistics">Estadistica</a>
      </li>
      <li *ngIf="isAuth">
        <a style="cursor: pointer" (click)="onLogout()">Salir</a>
      </li>
      <li>
        <button *ngIf="isAuth && user" mat-button [matMenuTriggerFor]="menu">{{ user.displayName }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Perfil</button>
          <button mat-menu-item>Salir</button>
        </mat-menu>
      </li>
    </ul>
  </div>
</mat-toolbar>
