.signup-form {
    height: 90vh;

    -webkit-clip-path: polygon(
        0 0, 
        100% 0, 
        100% 75vh, 
        0 100%);
    clip-path: polygon(
        0 0, 
        100% 0, 
        100% 75vh, 
        0 100%);
}

.up-line {
    padding-top: 1rem;
    height: 15vh;
    background-image: linear-gradient(
        to bottom, 
        rgba(255,108,145, 0.8), 
        rgba(232,12,68, 0.8));
}

mat-card {
    width: 20rem;
    margin: 0 auto;
}

mat-form-field {
    width: 18rem;
}