<section
  class="answer1">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <app-amchart
    [title]="statistics.answer1.man1517.title"
    [subTitle]="statistics.answer1.man1517.subTitle"
    [tagId]="statistics.answer1.man1517.tagId"
    [dataChart]="statistics.answer1.man1517.data"></app-amchart>

  <app-amchart 
    [title]="statistics.answer1.man1821.title"
    [subTitle]="statistics.answer1.man1821.subTitle"
    [tagId]="statistics.answer1.man1821.tagId"
    [dataChart]="statistics.answer1.man1821.data"></app-amchart>

  <app-amchart 
    [title]="statistics.answer1.man2230.title"
    [subTitle]="statistics.answer1.man2230.subTitle"
    [tagId]="statistics.answer1.man2230.tagId"
    [dataChart]="statistics.answer1.man2230.data"></app-amchart>

  <app-amchart
    [title]="statistics.answer1.woman1517.title"
    [subTitle]="statistics.answer1.woman1517.subTitle"
    [tagId]="statistics.answer1.woman1517.tagId"
    [dataChart]="statistics.answer1.woman1517.data"></app-amchart>

  <app-amchart 
    [title]="statistics.answer1.woman1821.title"
    [subTitle]="statistics.answer1.woman1821.subTitle"
    [tagId]="statistics.answer1.woman1821.tagId"
    [dataChart]="statistics.answer1.woman1821.data"></app-amchart>

  <app-amchart 
    [title]="statistics.answer1.woman2230.title"
    [subTitle]="statistics.answer1.woman2230.subTitle"
    [tagId]="statistics.answer1.woman2230.tagId"
    [dataChart]="statistics.answer1.woman2230.data"></app-amchart>
</section>