/* 
font-family: 'Patua One', cursive;
font-family: 'Itim', cursive;
*/

.header {
    height: 90vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(255,108,145, 0.8), 
        rgba(232,12,68, 0.8)),
    url(../../assets/images/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    -webkit-clip-path: polygon(
        0 0, 
        100% 0, 
        100% 75vh, 
        0 100%);
    clip-path: polygon(
        0 0, 
        100% 0, 
        100% 75vh, 
        0 100%);
}

.logo-box {
    position: absolute;
    top: 1.85rem;
    left: 1.85rem;
}

.logo {
    height: 3.5rem;
    animation: moveInUp 1s ease-out .75s;
    animation-fill-mode: backwards;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-45%,-50%);
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-family: 'Patua One', sans-serif;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation: moveInLeft 1s ease-out;
}

.heading-primary-sub {
    display: block;
    font-family: 'Itim', cursive, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 6.1rem;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-6.25rem);
    }

    80% {
        transform: translateX(.625rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(6.25rem);
    }

    80% {
        transform: translateX(-.625rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(-6.25rem);
    }

    80% {
        transform: translateY(.625rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.welcome {
    /* text-align: center; */
    height: 65vh;
    padding: 1.5rem;
}

@media (max-width: 599px) {
    .header {
        height: 60vh;
    
        -webkit-clip-path: polygon(
            0 0, 
            100% 0, 
            100% 55vh, 
            0 100%);
        clip-path: polygon(
            0 0, 
            100% 0, 
            100% 55vh, 
            0 100%);
    }
    
    .heading-primary-main {
        font-size: 3rem;
        letter-spacing: 1rem;
    }
    
    .heading-primary-sub {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 2.3rem;
    }
}