<header class="header">
    <div class="logo-box">
        <img src="../../assets/images/logo-white.png" alt="Logo" class="logo">
    </div>

    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Rock&amp;Vida</span>
            <span class="heading-primary-sub">encuestas</span>
        </h1>
    </div>
</header>

<div class="welcome" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap.gt-xs="20px" fxLayout.gt-xs="row" >
  <section>
    <h1>Actividades</h1>
    <p>Enterate de las distintas actividades de RyV!</p>
  </section>
  <section>
    <h1>Comunidad</h1>
    <p>Conoce gente que comparten tu pasion!</p>
  </section>
  <section>
    <h1>Desafios</h1>
    <p>Segui adelante! Plantea desafios diarios</p>
  </section>
</div>
