<mat-card>
  <mat-card-title>    
      Encuesta de ViH
  </mat-card-title>
  <mat-card-subtitle>
    Datos Generales
  </mat-card-subtitle>
    <mat-card-content>
      <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #vihSurveyForm="ngForm">
        <div fxLayout="column" fxLayout.gt-sm="row">
          <mat-form-field fxFlex="25">
            <input 
                type="email" 
                matInput 
                placeholder="Correo Electronico" 
                ngModel 
                name="email"
                email
                #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('email')">Correo Electronico invalido</mat-error>
          </mat-form-field>
        
          <section class="seccion-radio" fxFlex="50" fxLayoutAlign="center center">
            <label class="label-margin">Sexo:</label>
            <mat-radio-group ngModel name="sexo" required fxLayout="row">
              <mat-radio-button class="radio-margin" value="Hombre">Masculino</mat-radio-button>
              <mat-radio-button class="radio-margin" value="Mujer">Femenino</mat-radio-button>
            </mat-radio-group>
          </section>

          <mat-form-field fxFlex="25">
            <input 
                type="number" 
                matInput 
                placeholder="Edad" 
                ngModel 
                name="edad"
                edad
                required
                #ageInput="ngModel"
                pattern="^[+]?\d{2}$">
            <mat-error *ngIf="ageInput.hasError('required')">No debe quedar vacio</mat-error>
            <!-- <mat-error *ngIf="ageInput.value < '10' && !pattern">Valor no debe ser negativo, ni cero</mat-error> -->
            <mat-error *ngIf="!pattern && !ageInput.hasError('required')">Minimo 2 digitos</mat-error>
          </mat-form-field>
        </div>
        <div>
          <section class="seccion-radio" fxLayout="row" fxLayoutAlign="space-evenly start">
            <label class="label-margin" fxFlex>Estado Civil:</label>
            <mat-radio-group ngModel name="estadoCivil" fxFlex fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-evenly start">
              <mat-radio-button class="radio-margin" value="Soltero" >Soltero</mat-radio-button>
              <mat-radio-button class="radio-margin" value="Casado" >Casado</mat-radio-button>
              <mat-radio-button class="radio-margin" value="Viudo">Viudo</mat-radio-button>
              <mat-radio-button class="radio-margin" value="Separado">Separado</mat-radio-button>
              <mat-radio-button class="radio-margin" value="Pareja">Pareja</mat-radio-button>
            </mat-radio-group>
          </section>
        </div>
        <div>
          <section class="seccion-radio" fxLayout="row" fxLayoutAlign="space-evenly start">
            <label class="label-margin" fxFlex>Instruccion:</label>
            <mat-radio-group ngModel name="estudio" fxFlex fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-evenly start">
              <mat-radio-button class="radio-margin" value="Primario">Primario</mat-radio-button>
              <mat-radio-button class="radio-margin" value="Secundario">Secundario</mat-radio-button>
              <mat-radio-button class="radio-margin" value="Terciario">Terciario</mat-radio-button>
              <mat-radio-button class="radio-margin" value="Universitario">Universitario</mat-radio-button>
            </mat-radio-group>
          </section>
        </div>
        <div>
          <mat-form-field>
            <input 
                type="text" 
                matInput 
                placeholder="Ocupacion" 
                ngModel 
                name="ocupacion">
          </mat-form-field>
        </div>
        <hr>
      </form>    
    </mat-card-content>
  <mat-card-actions>
    <button type="submit" mat-raised-button color="primary" (click)="onSubmit(vihSurveyForm)" [disabled]="vihSurveyForm.invalid">Guardar</button>
  </mat-card-actions>
</mat-card>





<article class="survey-vih">
  <form class="vih-form">
    <section class="form-group">
      <h3>Datos Personales</h3>
      <ul class="form-fields">
        <li>
          <label for="email">Correo Electronico</label>
          <input type="email" name="email" id="email" placeholder="Correo Electronico" autocomplete="off">         
        </li>
        <li>
          <label for="age">Edad</label>
          <input type="number" name="age" id="age" placeholder="Edad">
        </li>
      </ul>

      <!-- Radio Sexo -->
      <h4>Sexo</h4>
      <ul class="form-gender">
        <li>
          <input type="radio" name="gender" id="male" value="Masculino">
          <label for="male">
            Masculino
          </label>
        </li>
        <li>
          <input type="radio" name="gender" id="female" value="Femenino">
          <label for="female">
            Femenino
          </label>
        </li>
      </ul><!-- Radio Sexo -->
      
      <!-- Estado Civil -->
      <h4>Estado Civil</h4>
      <ul class="form-civil-status">
        <li>
          <input type="radio" name="civil-status" id="single" value="Soltero">
          <label for="single">
            Soltero
          </label>
        </li>
        <li>
          <input type="radio" name="civil-status" id="married" value="Casado">
          <label for="married">
            Casado
          </label>
        </li>
        <li>
          <input type="radio" name="civil-status" id="widower" value="Viudo">
          <label for="widower">
            Viudo
          </label>
        </li>
        <li>
          <input type="radio" name="civil-status" id="separated" value="Separado">
          <label for="separated"> 
            Separado
          </label>
        </li>
        <li>
            <input type="radio" name="civil-status" id="in-couple" value="Pareja">
            <label for="in-couple"> 
              Pareja
            </label>
        </li>
      </ul><!-- Estado Civil -->

      <!-- Instruccion -->
      <h4>Instruccion</h4>
      <ul class="form-instruction">
        <li>
            <input type="radio" name="instruction" id="primary" value="Primario">
            <label for="primary">  
              Primario
            </label>
        </li>
        <li>
          <input type="radio" name="instruction" id="secondary" value="Secundario">
          <label for="secondary">
            Secundario
          </label>
        </li>
        <li>
          <input type="radio" name="instruction" id="terceary" value="Terciario">
          <label for="terceary">
            Terciario
          </label>
        </li>
        <li>
          <input type="radio" name="instruction" id="academic" value="Universitario">
          <label for="academic">
            Universitario
          </label>
        </li>
      </ul><!-- Instruccion -->

      <!-- Ocupacion - Barrio - CP - Fecha de Encuesta-->
      <ul class="form-fields">
        <li>
          <label for="occupation">Ocupacion</label>
          <input type="text" name="occupation" id="occupation" placeholder="Ocupacion">
        </li>
        <li><label for="state">Barrio:</label>
          <select class="select-menu" id="state" name="state">
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
        </li>
        <li>
          <label for="postal-code">CP</label>
          <input type="text" name="postal-code" id="postal-code" placeholder="Codigo Postal">
        </li>
        <li>
          <label for="survey-date">Fecha de Encuesta</label>
          <input type="date"  name="survey-date" id="survey-date">
        </li>
      </ul><!-- Ocupacion - Barrio - CP - Fecha de Encuesta-->
      
    </section>
    
    <section class="form-group">
      <h3>Encuesta ViH</h3>
      <!-- Pregunta 1 -->
      <h4>1. A traves de que vias recibis informacion sobre VIH-SIDA?</h4>
      <ul class="form-question-1">
        <li>
          <input type="checkbox" name="answer-1" id="answer-11" value="Familia">
          <label for="answer-11">
            Familia
          </label>
        </li>
        <li>
          <input type="checkbox" name="answer-2" id="answer-12" value="Universidad">
          <label for="answer-12">
            Universidad
          </label>
        </li>
        <li>
          <input type="checkbox" name="answer-3" id="answer-13" value="Folletos">
          <label for="answer-13">
            Folletos
          </label>
        </li>
        <li>
          <input type="checkbox" name="answer-4" id="answer-14" value="Internet">
          <label for="answer-14">
            Internet
          </label>
        </li>
        <li>
          <input type="checkbox" name="answer-5" id="answer-15" value="Revistas">
          <label for="answer-15">
            Revistas
          </label>
        </li>
        <li>
          <input type="checkbox" name="answer-6" id="answer-16" value="TV">
          <label for="answer-16">
            TV
          </label>
        </li>
        <li>
          <input type="checkbox" name="answer-7" id="answer-17" value="Institucion">
          <label for="answer-17">
            Institucion
          </label>
        </li>
        <li>
          <input type="checkbox" name="answer-8" id="answer-18" value="Escuela">
          <label for="answer-18">
            Escuela
          </label>
        </li>
        <li>
          <input type="checkbox" name="answer-9" id="answer-19" value="Investigacion Personal">
          <label for="answer-19">
            Inv. Personal
          </label>
        </li>
        <li>
          <input type="checkbox" name="answer-10" id="answer-110" value="Amigo">
          <label for="answer-110">
            Amigo
          </label>
        </li>
        <li>
          <input type="checkbox" name="answer-11" id="answer-111" value="Radio">
          <label for="answer-111">
            Radio
          </label>
        </li>
        <li>
          <input type="checkbox" name="answer-12" id="answer-112" value="Libros">
          <label for="answer-112">
            Libros
          </label>
        </li>
        <li>
          <input type="checkbox" name="answer-13" id="answer-113" value="Hospital">
          <label for="answer-113">
              Hospital
          </label>
        </li>
        <li>
          <input type="checkbox" name="answer-14" id="answer-114" value="Via Publica">
          <label for="answer-114">
              Via Publica
          </label>
        </li>
        <li>
          <input type="checkbox" name="answer-15" id="answer-115" value="Diarios">
          <label for="answer-115">
              Diarios
          </label>
        </li>
        <li>
          <input type="checkbox" name="answer-16" id="answer-116" value="Otra">
          <label for="answer-116">
              Otra
          </label>
        </li>
      </ul><!-- Pregunta 1 -->

      <!-- Pregunta 2 -->
      <h4>2. Crees que Vih y Sida es lo mismo?</h4>
      <ul class="form-question-2">
        <li>
          <input type="radio" name="answer-2" id="answer-21" value="Si">
          <label for="answer-21">  
            Si
          </label>
        </li>
        <li>
          <input type="radio" name="answer-2" id="answer-22" value="No">
          <label for="answer-22">
            No
          </label>
        </li>
      </ul><!-- Pregunta 2 -->
      
      <!-- Pregunta 3 -->
      <h4>3. Te consideras expuesto al virus?</h4>
      <ul class="form-question-3">
        <li>
          <input type="radio" name="answer-3" id="answer-31" value="Si">
          <label for="answer-31">
            Si
          </label>
          <ul class="motive-3-yes">
            <li>
              <input type="radio" name="motive-31" id="motive-31" value="Uso drogas">
              <label for="motive-31">
                  Uso drogas
              </label>
            </li>
            <li>
              <input type="radio" name="motive-31" id="motive-32" value="No uso preservativo">
              <label for="motive-32">
                No uso preservativo
              </label>
            </li>
            <li>
                <label class="checkbox">
                    <input type="radio" name="motivo31" class="pregunta31" value="Nadie esta exento">
                    Nadie esta exento
                </label>
            </li>
            <li>
              <label class="checkbox">
                  <input type="radio" name="motivo31" class="pregunta31" value="Otra">
                  Otra
              </label>
            </li>
          </ul>
        </li>
        <li>
            <input type="radio" name="answer-3" id="answer-32" value="No">
            <label class="answer-32">
                No
            </label>
            <ul class="motive-3-no">
              <li>
                <label class="checkbox">
                    <input type="radio" name="motivo32" class="pregunta31" value="Uso preservativo siempre">
                    Uso preservativo siempre
                </label>
              </li>
              <li>
                <label class="checkbox">
                    <input type="radio" name="motivo32" class="pregunta31" value="No tengo vida sexual activa">
                    No tengo vida sexual activa
                </label>
              </li>
              <li>
                  <label class="checkbox">
                      <input type="radio" name="motivo32" class="pregunta31" value="Mantengo una vida sana">
                      Mantengo una vida sana
                  </label>
              </li>
              <li>
                  <label class="checkbox">
                      <input type="radio" name="motivo32" class="pregunta31" value="Me cuido en todas las situaciones de riesgo">
                      Me cuido en todas las situaciones de riesgo
                  </label>
              </li>
              <li>
                  <label class="checkbox">
                      <input type="radio" name="motivo32" class="pregunta31" value="Otra">
                      Otra
                  </label>
              </li>
            </ul>
        </li>
      </ul><!-- Pregunta 3 -->

    <!-- Pregunta 4 -->
    <h4>4. Usas preservativo?</h4>
    <ul class="form-question-4">
      <li>
          <label class="radio-inline">
              <input type="radio" name="respuesta4" class="pregunta4" value="Si">
              Si
          </label>
      </li>
      <li>
          <label class="radio-inline">
              <input type="radio" name="respuesta4" class="pregunta4" value="Aveces">
              Aveces
          </label>
      </li>
      <li>
          <label class="radio-inline">
              <input type="radio" name="respuesta4" class="pregunta4" value="No">
              No
          </label>
          <ul class="motive-4-no">
            <li>
                <label class="checkbox">
                    <input type="radio" name="motivo4" class="pregunta42" value="Conozco a mi pareja">
                    Conozco a mi pareja
                </label>
            </li>
            <li>
                <label class="checkbox">
                    <input type="radio" name="motivo4" class="pregunta42" value="No me gusta">
                    No me gusta
                </label>
            </li>
            <li>
                <label class="checkbox">
                    <input type="radio" name="motivo4" class="pregunta42" value="Otra">
                    Otra
                </label>
            </li>
          </ul>
      </li>
    </ul><!-- Pregunta 4 -->

    <!-- Pregunta 5 -->
    <h4>5. Sabes cuantas pruebas hacen falta para saber con certeza si estas infectado con el virus Vih?</h4>
    <ul class="form-question-5">
      <li>
          <label class="radio-inline">
              <input type="radio" name="respuesta5" class="pregunta5" value="Si">
              Si
          </label>
      </li>
      <li>
          <label class="radio-inline">
              <input type="radio" name="respuesta5" class="pregunta5" value="No">
              No
          </label>
      </li>
    </ul><!-- Pregunta 5 -->

    <!-- Pregunta 6 -->
    <h4>6. Alguna vez realizaste la prueba de deteccion de Vih?</h4>
    <ul class="form-question-6">
      <li>
          <label class="radio-inline">
              <input type="radio" name="respuesta6" class="pregunta6" value="Si">
              Si
          </label>
      </li>
      <li>
          <label class="radio-inline">
              <input type="radio" name="respuesta6" class="pregunta6" value="No">
              No
          </label>
      </li>
    </ul><!-- Pregunta 6 -->

    <!-- Pregunta 7 -->
    <h4>7. Cuales de estas son vias de transmision?</h4>
    <ul class="form-question-7">
      <li>
          <label class="checkbox-inline">
              <input type="checkbox" name="respuesta1" class="pregunta7" value="Semen">
              Semen
          </label>
      </li>
      <li>
          <label class="checkbox-inline">
              <input type="checkbox" name="respuesta2" class="pregunta7" value="Sangre">
              Sangre
          </label>
      </li>
      <li>
          <label class="checkbox-inline">
              <input type="checkbox" name="respuesta3" class="pregunta7" value="Madre-Hijo">
              Madre-Hijo
          </label>
      </li>
      <li>
          <label class="checkbox-inline">
              <input type="checkbox" name="respuesta4" class="pregunta7" value="Besos">
              Besos
          </label>
      </li>
      <li>
          <label class="checkbox-inline">
              <input type="checkbox" name="respuesta5" class="pregunta7" value="Sexo oral">
              Sexo oral
          </label>
      </li>
      <li>
          <label class="checkbox-inline">
              <input type="checkbox" name="respuesta6" class="pregunta7" value="Compartir el mate">
              Compartir el mate
          </label>
      </li>
      <li>
          <label class="checkbox-inline">
              <input type="checkbox" name="respuesta7" class="pregunta7" value="Picaduras de insectos">
              Picaduras de insectos
          </label>
      </li>
    </ul><!-- Pregunta 7 -->

    <!-- Pregunta 8 -->
    <h4>8. Sabes que son las ITS?</h4>
    <ul class="form-question-8">
      <li>
          <label class="radio-inline">
              <input type="radio" name="respuesta8" class="pregunta8" value="Si">
              Si
          </label>
      </li>
      <li>
          <label class="radio-inline">
              <input type="radio" name="respuesta8" class="pregunta8" value="No">
              No
          </label>
      </li>
    </ul><!-- Pregunta 8 -->
      
    </section>

    <section class="form-submit">
      <button type="submit" class="register-btn">Guardar</button>
      <button type="reset" class="cancel-btn">Cancelar</button>
    </section>
  
  </form><!-- vih-form -->
</article><!-- survey-vih -->








<article class="angular-material">
  <form class="vih-form" 
        novalidate
        #vihSurveyForm="ngForm"
        (ngSubmit)="onSubmit(vihSurveyForm)">
    <section class="form-group">
      <h3>Datos Personales</h3>
      <ul class="form-field">
        <li>
          <mat-form-field>
            <input type="email"
                    id="email"
                    matInput
                    ngModel
                    name="email"
                    email
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+"
                    placeholder="Correo Electronico"
                    autocomplete="off"
                    #emailInput="ngModel">
            <mat-error *ngIf="(emailInput.dirty || emailInput.touched) && emailInput.errors">
              Ingrese un correo electronico valido
            </mat-error>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input type="number" 
                    matInput 
                    name="age" 
                    id="age" 
                    placeholder="Edad"
                    ngModel
                    age
                    required
                    #ageInput="ngModel">
            <mat-error *ngIf="(ageInput.touched || ageInput.dirty) && ageInput.hasError('required')">
              No debe estar vacio
            </mat-error>
          </mat-form-field>
        </li>
      </ul>

      <!-- Radio Sexo -->
      <h4>Sexo*</h4>
      <mat-radio-group name="gender" ngModel gender #genderInput="ngModel" required>
        <ul class="form-gender">
          <li>
            <mat-radio-button value="Masculino">Masculino</mat-radio-button>
          </li>
          <li>
            <mat-radio-button value="Femenino">Femenino</mat-radio-button>
          </li>
        </ul>
        <mat-error *ngIf="(genderInput.dirty || genderInput.touched) && genderInput.hasError('required')">Por favor ingrese el genero</mat-error>
      </mat-radio-group><!-- Radio Sexo -->

      <!-- Estado Civil -->
      <h4>Estado Civil</h4>
      <mat-radio-group name="civil-status">
      <ul class="form-civil-status">
        <li>
          <mat-radio-button value="Soltero">Soltero</mat-radio-button>
        </li>
        <li>
          <mat-radio-button value="Casado">Casado</mat-radio-button>
        </li>
        <li>
          <mat-radio-button value="Viudo">Viudo</mat-radio-button>
        </li>
        <li>
          <mat-radio-button value="Separado">Separado</mat-radio-button>
        </li>
        <li>
          <mat-radio-button value="Pareja">Pareja</mat-radio-button>
        </li>
      </ul>
      </mat-radio-group><!-- Estado Civil -->

      <!-- Instruccion -->
      <h4>Instruccion</h4>
      <mat-radio-group name="instruction">
      <ul class="form-instruction">
        <li>
          <mat-radio-button value="Primario">Primario</mat-radio-button>
        </li>
        <li>
          <mat-radio-button value="Secundario">Secundario</mat-radio-button>
        </li>
        <li>
          <mat-radio-button value="Terciario">Terciario</mat-radio-button>
        </li>
        <li>
          <mat-radio-button value="Universitario">Universitario</mat-radio-button>
        </li>
      </ul>
      </mat-radio-group><!-- Instruccion -->
    </section>

    <section class="form-group">
        <h3>Encuesta ViH</h3>
        <!-- Pregunta 1 -->
        <h4>1. A traves de que vias recibis informacion sobre VIH-SIDA?</h4>
        <ul class="form-question-1">
          <li>
            <mat-checkbox value="Familia">Familia</mat-checkbox>
          </li>
          <li>
            <mat-checkbox value="Universidad">Universidad</mat-checkbox>
          </li>
          <li>
            <mat-checkbox value="Folletos">Folletos</mat-checkbox>
          </li>
          <li>
            <mat-checkbox value="Internet">Internet</mat-checkbox>
          </li>
          <li>
            <mat-checkbox value="Revistas">Revistas</mat-checkbox>
          </li>
          <li>
            <mat-checkbox value="TV">TV</mat-checkbox>
          </li>
          <li>
            <mat-checkbox value="Institucion">Institucion</mat-checkbox>
          </li>
          <li>
            <mat-checkbox value="Escuela">Escuela</mat-checkbox>
          </li>
          <li>
            <mat-checkbox value="Investigacion Personal">Inv. Personal</mat-checkbox>
          </li>
          <li>
            <mat-checkbox value="Amigo">Amigo</mat-checkbox>
          </li>
          <li>
            <mat-checkbox value="Radio">Radio</mat-checkbox>
          </li>
          <li>
            <mat-checkbox value="Libros">Libros</mat-checkbox>
          </li>
          <li>
            <mat-checkbox value="Hospital">Hospital</mat-checkbox>
          </li>
          <li>
            <mat-checkbox value="Via Publica">Via Publica</mat-checkbox>
          </li>
          <li>
            <mat-checkbox value="Diarios">Diarios</mat-checkbox>
          </li>
          <li>
            <mat-checkbox value="Otra">Otra</mat-checkbox>
          </li>
        </ul><!-- Pregunta 1 -->
  
        <!-- Pregunta 2 -->
        <h4>2. Crees que Vih y Sida es lo mismo?</h4>
        <mat-radio-group name="question-2">
        <ul class="form-question-2">
          <li>
            <mat-radio-button value="Si">Si</mat-radio-button>
          </li>
          <li>
            <mat-radio-button value="No">No</mat-radio-button>
          </li>
        </ul>
        </mat-radio-group><!-- Pregunta 2 -->
        
        <!-- Pregunta 3 -->
        <h4>3. Te consideras expuesto al virus? Porque?</h4>
        <mat-radio-group name="question-3">
        <ul class="form-question-3">
          <li>
            <mat-radio-button value="Si">Si</mat-radio-button>
            <!-- porque -->
            <mat-radio-group name="motive-3">
              <ul class="motive-3-yes">
                <li>
                  <mat-radio-button value="Uso drogas">Uso drogas</mat-radio-button>
                </li>
                <li>
                  <mat-radio-button value="No uso preservativo">No uso preservativo</mat-radio-button>
                </li>
                <li>
                  <mat-radio-button value="Nadie esta exento">Nadie esta exento</mat-radio-button>
                </li>
                <li>
                  <mat-radio-button value="Otra">Otra</mat-radio-button>
                </li>
              </ul>
            </mat-radio-group>
          </li>
          <li>
            <mat-radio-button value="No">No</mat-radio-button>
            <!-- porque -->
            <mat-radio-group name="motive-3">
              <ul class="motive-3-no">
                <li>
                  <mat-radio-button value="Uso preservativo siempre">Uso preservativo siempre</mat-radio-button>
                </li>
                <li>
                  <mat-radio-button value="No tengo vida sexual activa">No tengo vida sexual activa</mat-radio-button>
                </li>
                <li>
                  <mat-radio-button value="Mantengo una vida sana">Mantengo una vida sana</mat-radio-button>
                </li>
                <li>
                  <mat-radio-button value="Me cuido en todas las situaciones de riesgo">Me cuido en todas las situaciones de riesgo</mat-radio-button>
                </li>
                <li>
                  <mat-radio-button value="Otra">Otra</mat-radio-button>
                </li>
              </ul>
            </mat-radio-group>
          </li>
        </ul>
        </mat-radio-group><!-- Pregunta 3 -->
  
      <!-- Pregunta 4 -->
      <h4>4. Usas preservativo?</h4>
      <mat-radio-group name="question-4">
        <ul class="form-question-4">
          <li>
            <mat-radio-button value="Si">Si</mat-radio-button>
          </li>
          <li>
            <mat-radio-button value="Aveces">Aveces</mat-radio-button>
          </li>
          <li>
            <mat-radio-button value="No">No</mat-radio-button>
            <!-- porque -->
            <mat-radio-group name="motive-3">
              <ul class="motive-4-no">
                <li>
                  <mat-radio-button value="Conozco a mi pareja">Conozco a mi pareja</mat-radio-button>
                </li>
                <li>
                  <mat-radio-button value="No me gusta">No me gusta</mat-radio-button>
                </li>
                <li>
                  <mat-radio-button value="Otra">Otra</mat-radio-button>
                </li>
              </ul>
            </mat-radio-group>
          </li>
        </ul>
      </mat-radio-group><!-- Pregunta 4 -->
  
      <!-- Pregunta 5 -->
      <h4>5. Sabes cuantas pruebas hacen falta para saber con certeza si estas infectado con el virus Vih?</h4>
      <mat-radio-group name="question-5">
        <ul class="form-question-5">
          <li>
            <mat-radio-button value="Si">Si</mat-radio-button>
          </li>
          <li>
            <mat-radio-button value="No">No</mat-radio-button>
          </li>
        </ul>
      </mat-radio-group><!-- Pregunta 5 -->
  
      <!-- Pregunta 6 -->
      <h4>6. Alguna vez realizaste la prueba de deteccion de Vih?</h4>
      <mat-radio-group name="question-6">
        <ul class="form-question-6">
          <li>
            <mat-radio-button value="Si">Si</mat-radio-button>
          </li>
          <li>
            <mat-radio-button value="No">No</mat-radio-button>
          </li>
        </ul>
      </mat-radio-group><!-- Pregunta 6 -->
  
      <!-- Pregunta 7 -->
      <h4>7. Cuales de estas son vias de transmision?</h4>
      <ul class="form-question-7">
        <li>
          <mat-checkbox value="Semen">Semen</mat-checkbox>
        </li>
        <li>
          <mat-checkbox value="Sangre">Sangre</mat-checkbox>
        </li>
        <li>
          <mat-checkbox value="Madre-Hijo">Madre-Hijo</mat-checkbox>
        </li>
        <li>
          <mat-checkbox value="Besos">Besos</mat-checkbox>
        </li>
        <li>
          <mat-checkbox value="Sexo oral">Sexo oral</mat-checkbox>
        </li>
        <li>
          <mat-checkbox value="Compartir el mate">Compartir el mate</mat-checkbox>
        </li>
        <li>
          <mat-checkbox value="Picaduras de insectos">Picaduras de insectos</mat-checkbox>
        </li>
      </ul><!-- Pregunta 7 -->
  
      <!-- Pregunta 8 -->
      <h4>8. Sabes que son las ITS?</h4>
      <mat-radio-group name="question-8">
        <ul class="form-question-8">
          <li>
            <mat-radio-button value="Si">Si</mat-radio-button>
          </li>
          <li>
            <mat-radio-button value="No">No</mat-radio-button>
          </li>
        </ul>
      </mat-radio-group><!-- Pregunta 8 -->
        
      </section>
  
      <section class="form-submit">
        <button type="submit" 
                mat-raised-button 
                [disabled]="!vihSurveyForm.valid"
                color="primary">Guardar</button>
        <button type="reset" 
                mat-button>Cancelar</button>
      </section>
  </form>
</article>

<section class="form-state">
<br>Dirty: {{ vihSurveyForm.dirty }}
<br>Touched: {{ vihSurveyForm.touched }}
<br>Valid: {{ vihSurveyForm.valid }}
<br>Value: {{ vihSurveyForm.value | json }}
</section>
