
<article class="angular-material">
  <form 
    class="vih-form"
    novalidate
    (ngSubmit)="onSubmit(hivSurveyForm)"
    [formGroup]="hivSurveyForm">
    <section class="form-group">
      <h3>Datos Personales</h3>
      <ul class="form-field">
        <li>
          <mat-form-field>
            <input type="email"
                    id="email"
                    formControlName="email"
                    matInput
                    autocomplete="off"
                    placeholder="Correo Electronico">
            <mat-error *ngIf="email.dirty && email.errors">
              Ingrese un correo electronico valido
            </mat-error>
            <mat-hint>
              Ingrese su correo electronico
            </mat-hint>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input type="number" 
                    matInput
                    id="age"
                    formControlName="age" 
                    placeholder="Edad*">
            <mat-error *ngIf="(age.dirty || age.touched) && age.errors">
              <span
                *ngIf="age.errors.required" >
                No debe estar vacio
              </span>
              <span
                *ngIf="age.errors.pattern" >
                Ingrese una edad valida
              </span>
            </mat-error>
            <mat-hint>
              Ingrese su edad
            </mat-hint>
          </mat-form-field>
        </li>
      </ul>

      <!-- Radio Sexo -->
      <h4>Sexo*</h4>
      <mat-radio-group
        formControlName="gender">
        <ul class="form-gender">
          <li>
            <mat-radio-button value="Masculino">Masculino</mat-radio-button>
          </li>
          <li>
            <mat-radio-button value="Femenino">Femenino</mat-radio-button>
          </li>
        </ul>
        <mat-error
          *ngIf="gender.invalid && (gender.dirty || gender.touched)">Por favor ingrese su genero</mat-error>
      </mat-radio-group><!-- Radio Sexo -->

      <!-- Estado Civil -->
      <h4>Estado Civil*</h4>
      <mat-radio-group
        formControlName="civilStatus">
      <ul class="form-civil-status">
        <li *ngFor="let civil of civilStatusList">
          <mat-radio-button [value]="civil.status">{{ civil.status }}</mat-radio-button>
        </li>
      </ul>
      </mat-radio-group><!-- Estado Civil -->

      <!-- Instruccion -->
      <h4>Instruccion</h4>
      <mat-radio-group 
        formControlName="instruction">
      <ul class="form-instruction">
        <li>
          <mat-radio-button value="Primario">Primario</mat-radio-button>
        </li>
        <li>
          <mat-radio-button value="Secundario">Secundario</mat-radio-button>
        </li>
        <li>
          <mat-radio-button value="Terciario">Terciario</mat-radio-button>
        </li>
        <li>
          <mat-radio-button value="Universitario">Universitario</mat-radio-button>
        </li>
      </ul>
      </mat-radio-group><!-- Instruccion -->

      <!-- Ubicacion -->
      <h4>Ubicacion</h4>
      <section
        formGroupName="location">
        <mat-form-field>
          <mat-select 
            placeholder="Ingrese el pais"
            formControlName="country">
            <mat-option *ngFor="let country of countries" [value]="country.name">
              {{ country.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          *ngIf="showStateSelectInputField == true">
          <mat-select 
            placeholder="Ingrese la provincia"
            formControlName="state">
            <mat-option *ngFor="let state of states" [value]="state.name">
              {{ state.alias }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          *ngIf="showCitySelectInputField == true">
          <mat-select 
            placeholder="Ingrese la ciudad"
            formControlName="city">
            <mat-option *ngFor="let city of cities" [value]="city.name">
              {{ city.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field
          *ngIf="showDistrictSelectInputField == true">
          <mat-select 
            placeholder="Ingrese el barrio"
            formControlName="district">
            <mat-option *ngFor="let district of districts" [value]="district.name">
              {{ district.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section><!-- Ubicacion -->
    </section>

    

    <section class="form-group">
        <h3>Encuesta ViH</h3>
        <!-- Pregunta 1 -->
        <section
          formGroupName="answer1">
          <h4>1. A traves de que vias recibis informacion sobre VIH-SIDA?</h4>
          <ul class="form-question-1">
            <li *ngFor = "let getInfo of hivInformationGetWays">
              <mat-checkbox
                [formControlName]="getInfo.value"
                [value] ="getInfo.value"> {{ getInfo.name }} </mat-checkbox>
            </li>
          </ul>
        </section>
        <!-- Pregunta 1 -->
  
        <!-- Pregunta 2 -->
        <h4>2. Crees que Vih y Sida es lo mismo?</h4>
        <mat-radio-group name="question-2">
        <ul class="form-question-2">
          <li>
            <mat-radio-button value="Si">Si</mat-radio-button>
          </li>
          <li>
            <mat-radio-button value="No">No</mat-radio-button>
          </li>
        </ul>
        </mat-radio-group><!-- Pregunta 2 -->
        
        <!-- Pregunta 3 -->
        <h4>3. Te consideras expuesto al virus? Porque?</h4>
        <!-- <div formGroupName="question3"> -->
        <div>
          <!-- <mat-radio-group
          formControlName="answer"> -->
          <mat-radio-group>
        <ul class="form-question-3">
          <li>
            <mat-radio-button value="Si">Si</mat-radio-button>
            <!-- porque -->
            <!-- <mat-radio-group
              formControlName="motive"
              class="motive-3"
              *ngIf="answer3.value === 'Si'"> -->
            <mat-radio-group
              class="motive-3">
              <div class="motive">
                  <h4>Porque:</h4>
                  <ul>
                    <li>
                      <mat-radio-button value="Uso drogas">Uso drogas</mat-radio-button>
                    </li>
                    <li>
                      <mat-radio-button value="No uso preservativo">No uso preservativo</mat-radio-button>
                    </li>
                    <li>
                      <mat-radio-button value="Nadie esta exento">Nadie esta exento</mat-radio-button>
                    </li>
                    <li>
                      <mat-radio-button value="Otra">Otra</mat-radio-button>
                    </li>
                  </ul>
              </div>
            </mat-radio-group>
          </li>
          <li>
            <mat-radio-button value="No">No</mat-radio-button>
            <!-- porque -->
            <!-- <mat-radio-group
              formControlName="motive"
              class="motive-3"
              *ngIf="answer3.value === 'No'"> -->
            <mat-radio-group
              class="motive-3">
              <div class="motive">
                <h4>Porque:</h4>
                <ul class="motive-3-no">
                  <li>
                    <mat-radio-button value="Uso preservativo siempre">Uso preservativo siempre</mat-radio-button>
                  </li>
                  <li>
                    <mat-radio-button value="No tengo vida sexual activa">No tengo vida sexual activa</mat-radio-button>
                  </li>
                  <li>
                    <mat-radio-button value="Mantengo una vida sana">Mantengo una vida sana</mat-radio-button>
                  </li>
                  <li>
                    <mat-radio-button value="Me cuido en todas las situaciones de riesgo">Me cuido en todas las situaciones de riesgo</mat-radio-button>
                  </li>
                  <li>
                    <mat-radio-button value="Otra">Otra</mat-radio-button>
                  </li>
                </ul>
              </div>
            </mat-radio-group>
          </li>
        </ul>
        </mat-radio-group><!-- Pregunta 3 -->
        </div>
        
  
      <!-- Pregunta 4 -->
      <h4>4. Usas preservativo?</h4>
      <!-- <mat-radio-group 
        formControlName="answer4"> -->
      <mat-radio-group>
        <ul class="form-question-4">
          <li>
            <mat-radio-button value="Si">Si</mat-radio-button>
          </li>
          <li>
            <mat-radio-button value="Aveces">Aveces</mat-radio-button>
          </li>
          <li>
            <mat-radio-button value="No">No</mat-radio-button>
            <!-- porque -->
            <!-- <mat-radio-group 
              *ngIf="answer4.value === 'No'"> -->
          <mat-radio-group>
            <div class="motive">
              <h4>Porque:</h4>
              <ul class="motive-4-no">
                  <li>
                    <mat-radio-button value="Conozco a mi pareja">Conozco a mi pareja</mat-radio-button>
                  </li>
                  <li>
                    <mat-radio-button value="No me gusta">No me gusta</mat-radio-button>
                  </li>
                  <li>
                    <mat-radio-button value="Otra">Otra</mat-radio-button>
                  </li>
                </ul>
            </div>
            </mat-radio-group>
          </li>
        </ul>
      </mat-radio-group><!-- Pregunta 4 -->
  
      <!-- Pregunta 5 -->
      <h4>5. Sabes cuantas pruebas hacen falta para saber con certeza si estas infectado con el virus Vih?</h4>
      <mat-radio-group name="question-5">
        <ul class="form-question-5">
          <li>
            <mat-radio-button value="Si">Si</mat-radio-button>
          </li>
          <li>
            <mat-radio-button value="No">No</mat-radio-button>
          </li>
        </ul>
      </mat-radio-group><!-- Pregunta 5 -->
  
      <!-- Pregunta 6 -->
      <h4>6. Alguna vez realizaste la prueba de deteccion de Vih?</h4>
      <mat-radio-group name="question-6">
        <ul class="form-question-6">
          <li>
            <mat-radio-button value="Si">Si</mat-radio-button>
          </li>
          <li>
            <mat-radio-button value="No">No</mat-radio-button>
          </li>
        </ul>
      </mat-radio-group><!-- Pregunta 6 -->
  
      <!-- Pregunta 7 -->
      <h4>7. Cuales de estas son vias de transmision?</h4>
      <ul class="form-question-7">
        <li>
          <mat-checkbox value="Semen">Semen</mat-checkbox>
        </li>
        <li>
          <mat-checkbox value="Sangre">Sangre</mat-checkbox>
        </li>
        <li>
          <mat-checkbox value="Madre-Hijo">Madre-Hijo</mat-checkbox>
        </li>
        <li>
          <mat-checkbox value="Besos">Besos</mat-checkbox>
        </li>
        <li>
          <mat-checkbox value="Sexo oral">Sexo oral</mat-checkbox>
        </li>
        <li>
          <mat-checkbox value="Compartir el mate">Compartir el mate</mat-checkbox>
        </li>
        <li>
          <mat-checkbox value="Picaduras de insectos">Picaduras de insectos</mat-checkbox>
        </li>
      </ul><!-- Pregunta 7 -->
  
      <!-- Pregunta 8 -->
      <h4>8. Sabes que son las ITS?</h4>
      <mat-radio-group name="question-8">
        <ul class="form-question-8">
          <li>
            <mat-radio-button value="Si">Si</mat-radio-button>
          </li>
          <li>
            <mat-radio-button value="No">No</mat-radio-button>
          </li>
        </ul>
      </mat-radio-group><!-- Pregunta 8 -->
        
      </section>
  
      <section class="form-submit">
        <button type="submit" 
                mat-raised-button 
                [disabled]="!hivSurveyForm.valid"
                color="primary">Guardar</button>
        <button type="reset" 
                mat-button>Cancelar</button>
      </section>
  </form>
</article>

<section class="form-state">
  <br>Dirty: {{ hivSurveyForm.dirty }}
  <br>Touched: {{ hivSurveyForm.touched }}
  <br>Valid: {{ hivSurveyForm.valid }}
  <br>Value: {{ hivSurveyForm.value | json }}
</section>
