mat-card {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

mat-form-field {
    width: 250px;
}

.seccion-radio {
    display: flex;
    align-content: center;
    align-items: center;
    /* height: 60px; */
}
  
.label-margin {
    font-weight: bold;
    margin: 0 10px;
    padding: 3px;
}

.radio-margin {
    margin: 2px 5px;
}

form {
    /* height: 100%; */
}

hr {
    width: 80%
}
