form {
    font-size: 1.6rem
}

mat-card {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

mat-form-field {
    width: 25rem;
}

.seccion-radio {
    display: flex;
    align-content: center;
    align-items: center;
    /* height: 60px; */
}
  
.label-margin {
    font-weight: bold;
    margin: 0 1rem;
    padding: .3rem;
}

.radio-margin {
    margin: .2rem .5rem;
}



hr {
    width: 80%
}





/* Hojas de estilo para el formulario viejo */
.vih-form {
    line-height: 1.4;
    margin-right: -2em;
}

.form-group {
    background: #F6DDCE;
    margin-bottom: 1em;
    padding: 10px;
    margin-right: 2em;
}
.form-group ul {
    list-style: none;
    margin: 0 0 2em;
    padding: 0;
}
.form-group li {
    margin-bottom: 0.5em;
}
.form-group h3 {
    margin-bottom: 1em;
}

.form-fields input[type="text"],
.form-fields input[type="email"],
.form-fields input[type="number"],
.form-fields select {
    box-sizing: border-box;
    padding: 0.6em 0.8em;
    color: #999;
    background: #f7f7f7;
    border: 1px solid #e1e1e1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9em;
    text-decoration: none;
    line-height: normal;
    max-height: 3em;
}
.form-fields input[type="text"]:focus,
.form-fields input[type="email"]:focus,
.form-fields input[type="number"]:focus,
.form-fields select:focus {
    color: #333;
    border: 1px solid #C17CCF;
    outline: none;
    background: #f2f2f2;
}
.register-btn {
    border-radius: 0px 2px 2px 0px;
    box-sizing: content-box;
    background: #8B798C;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    padding: 0.35em 0.75em;
    border: none;
    font-size: 1.1em;
    text-decoration: none;
    cursor: pointer;
}
.register-btn:hover,
.register-btn:hover {
    background: #C17CCF;
}
.cancel-btn {
    border-radius: 0px 2px 2px 0px;
    box-sizing: content-box;
    background: #8B798C;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    padding: 0.35em 0.75em;
    border: none;
    font-size: 1.1em;
    text-decoration: none;
    cursor: pointer;
}
.cancel-btn:hover,
.cancel-btn:hover {
    background: #C17CCF;
}


/*flex it*/
.vih-form {
    display: flex;
    flex-wrap: wrap;
}
.form-group {
    flex: 1 0 300px;
}
.form-submit {
    flex: 0 0 100%;
}
.form-fields li {
    display: flex;
    flex-wrap: wrap;
}
.form-fields input[type="text"],
.form-fields input[type="email"],
.form-fields input[type="number"],
.form-fields select {
    flex: 1 0 230px;
}
.form-fields label {
    flex: 1 0 90px;
    max-width: 200px;
}
.form-civil-status,
.form-instruction,
.form-question-1,
.form-question-7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-civil-status li,
.form-instruction li,
.form-question-1 li {
    width: 145px;
}

.form-gender li {
    width: 145px;
}

.form-question-2 li,
.form-question-3 li,
.form-question-5 li,
.form-question-6 li,
.form-question-8 li {
    width: 90px;
}

.form-question-4 li {
    width: 165px;
}

.form-gender,
.form-question-2,
.form-question-3,
.form-question-4,
.form-question-5,
.form-question-6,
.form-question-8 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* .form-question-3 li {
    width: 295px;
} */


.form-question-7 li {
    width: 215px;
}


/*media queries*/
@media (max-width: 450px) {
body {
    width: 100%;
    margin: 0;
    padding: 0 0 2em;
}
.form-submit {
    padding: 2% 5%;
    }
 }


 /* Hojas de estilo para el formulario con angular */
 .form-field {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
 }

 .motive {
     animation: 1s motiveAnimation forwards;
 }

 @keyframes motiveAnimation {
     from {
         opacity: 0;
         transform: translateY(-20px);
     }
     to {
         opacity: 1;
         transform: translateY(0);
     }
 }