/* You can add global styles to this file, and also import other style files */

/*
COLORES:

claro rosa: #FF6C91
medio rosa: #FF3B6B
oscuro rojo: #E80C44
*/

@import "@angular/material/prebuilt-themes/indigo-pink.css";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    box-sizing: border-box;
}