<section class="pie-answer1">
  <mat-card>
    <mat-card-title>Vias de Informacion</mat-card-title>
    <mat-card-subtitle>Hombres: 15-17</mat-card-subtitle>
    <mat-card-content>
      <div
        class="chart"
        id="chartdiv">
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Vias de Informacion</mat-card-title>
    <mat-card-subtitle>Hombres: 18-21</mat-card-subtitle>
    <mat-card-content>
      <div
        class="chart"
        id="chartdiv1">
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Vias de Informacion</mat-card-title>
    <mat-card-subtitle>Hombres: 22-30</mat-card-subtitle>
    <mat-card-content>
      <div
        class="chart"
        id="chartdiv2">
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Vias de Informacion</mat-card-title>
    <mat-card-subtitle>Mujeres: 15-17</mat-card-subtitle>
    <mat-card-content>
      <div
        class="chart"
        id="chartdiv3">
      </div>
    </mat-card-content>
  </mat-card>
</section>


<div class="chartwrapper">
  <div id="chartdiv" class="chartdiv"></div>
</div>


<!--<div id="chartdiv"></div>-->

<!-- <div
  class="chart"
  id="chartdiv1">
</div>

<div
  class="chart"
  id="chartdiv2">
</div> -->


