<section class="pie-answer1">
  <mat-card>
    <mat-card-title>Vias de Informacion</mat-card-title>
    <mat-card-subtitle>Hombres: 15-17</mat-card-subtitle>
    <mat-card-content>
      <div
        class="chart"
        id="chart-man-15-17">
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Vias de Informacion</mat-card-title>
    <mat-card-subtitle>Hombres: 18-21</mat-card-subtitle>
    <mat-card-content>
      <div
        class="chart"
        id="chart-man-18-21">
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Vias de Informacion</mat-card-title>
    <mat-card-subtitle>Hombres: 22-30</mat-card-subtitle>
    <mat-card-content>
      <div
        class="chart"
        id="chart-man-22-30">
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Vias de Informacion</mat-card-title>
    <mat-card-subtitle>Mujeres: 15-17</mat-card-subtitle>
    <mat-card-content>
      <div
        class="chart"
        id="chart-woman-15-17">
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Vias de Informacion</mat-card-title>
    <mat-card-subtitle>Mujeres: 18-21</mat-card-subtitle>
    <mat-card-content>
      <div
        class="chart"
        id="chart-woman-18-21">
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Vias de Informacion</mat-card-title>
    <mat-card-subtitle>Mujeres: 22-30</mat-card-subtitle>
    <mat-card-content>
      <div
        class="chart"
        id="chart-woman-22-30">
      </div>
    </mat-card-content>
  </mat-card>
</section>