<!--<mat-card>
  <mat-card-title>Vias de Informacion</mat-card-title>
  <mat-card-subtitle>Hombres - rangos de edad</mat-card-subtitle>
  <mat-card-content>
    <section
      class="answer1-pie">
      <div
        class="chart"
        id="chartdiv">
      </div>
  
      <div
        class="chart"
        id="chartdiv1">
      </div>
  
      <div
        class="chart"
        id="chartdiv2">
      </div>
    </section>
  </mat-card-content>
  
</mat-card>-->

<div class="chartwrapper">
  <div id="chartdiv" class="chartdiv"></div>
</div>


<!--<div id="chartdiv"></div>-->


