.answer1-pie {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
    flex-flow: row wrap;
}

.chart {
    width: 100%;
    height: 370px;
    margin: auto;
    flex: 1;
}

/* Medium screens */
@media all and (max-width: 1000px) {
    .answer1-pie {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-around;
    }
  }
  
  /* Small screens */
  @media all and (max-width: 900px) {
    .answer1-pie {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }

  #chartdiv {
    width: 100%;
    height: 400px;
  }
  #chartdiv1 {
    width: 100%;
    height: 400px;
  }
  #chartdiv2 {
    width: 100%;
    height: 400px;
  }

  .chartwrapper {
    width: 100%;
    height: 400px;

  }
  
  .chartdiv {
    width: 200px;
    height: 200px;
  }